<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<real>5000</real>
	<real>4950</real>
	<real>4900</real>
	<real>4850</real>
	<real>4800</real>
	<real>4750</real>
	<real>4700</real>
	<real>4650</real>
	<real>4600</real>
	<real>4550</real>
	<real>4500</real>
	<real>4450</real>
	<real>4400</real>
	<real>4350</real>
	<real>4300</real>
	<real>4250</real>
	<real>4200</real>
	<real>4150</real>
	<real>4100</real>
	<real>4050</real>
	<real>4000</real>
	<real>3950</real>
	<real>3900</real>
	<real>3850</real>
	<real>3800</real>
	<real>3750</real>
	<real>3700</real>
	<real>3650</real>
	<real>3600</real>
	<real>3550</real>
	<real>3500</real>
	<real>3450</real>
	<real>3400</real>
	<real>3350</real>
	<real>3300</real>
	<real>3250</real>
	<real>3200</real>
	<real>3150</real>
	<real>3100</real>
	<real>3050</real>
	<real>3000</real>
	<real>2950</real>
	<real>2900</real>
	<real>2850</real>
	<real>2800</real>
	<real>2750</real>
	<real>2700</real>
	<real>2650</real>
	<real>2600</real>
	<real>2550</real>
	<real>2500</real>
	<real>2450</real>
	<real>2400</real>
	<real>2350</real>
	<real>2300</real>
	<real>2250</real>
	<real>2200</real>
	<real>2150</real>
	<real>2100</real>
	<real>2050</real>
	<real>2000</real>
	<real>1950</real>
	<real>1900</real>
	<real>1850</real>
	<real>1800</real>
	<real>1750</real>
	<real>1700</real>
	<real>1650</real>
	<real>1600</real>
	<real>1550</real>
	<real>1500</real>
	<real>1450</real>
	<real>1400</real>
	<real>1350</real>
	<real>1300</real>
	<real>1250</real>
	<real>1200</real>
	<real>1150</real>
	<real>1100</real>
	<real>1050</real>
	<real>1000</real>
	<real>950</real>
	<real>900</real>
	<real>850</real>
	<real>800</real>
	<real>750</real>
	<real>700</real>
	<real>650</real>
	<real>600</real>
	<real>550</real>
	<real>500</real>
	<real>450</real>
	<real>400</real>
	<real>350</real>
	<real>300</real>
	<real>250</real>
	<real>200</real>
	<real>150</real>
	<real>100</real>
	<real>50</real>
</array>
</plist>
