<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>494.21661376953125</real>
		<key>y</key>
		<real>1311.95458984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>104.52374267578125</real>
		<key>y</key>
		<real>1695.860595703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>442.33697509765625</real>
		<key>y</key>
		<real>2068.1279296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>107.70794677734375</real>
		<key>y</key>
		<real>2454.91357421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>481.6181640625</real>
		<key>y</key>
		<real>2768.591552734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>129.03759765625</real>
		<key>y</key>
		<real>3047.325927734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>488.383544921875</real>
		<key>y</key>
		<real>3486.000732421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>131.6033935546875</real>
		<key>y</key>
		<real>3889.29833984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>499.8651123046875</real>
		<key>y</key>
		<real>4260.02392578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>151.5855712890625</real>
		<key>y</key>
		<real>4645.75732421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>156.50494384765625</real>
		<key>y</key>
		<real>5143.92626953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>146.66616821289062</real>
		<key>y</key>
		<real>5706.27783203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>506.8243408203125</real>
		<key>y</key>
		<real>6074.91796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>485.7900390625</real>
		<key>y</key>
		<real>6471.80078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>179.2467041015625</real>
		<key>y</key>
		<real>6769.26220703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>494.38275146484375</real>
		<key>y</key>
		<real>7091.29296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>181.1849365234375</real>
		<key>y</key>
		<real>7427.50927734375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>533.9593505859375</real>
		<key>y</key>
		<real>7736.609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>174.09658813476562</real>
		<key>y</key>
		<real>8014.0888671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>515.49090576171875</real>
		<key>y</key>
		<real>8376.609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>171.8353271484375</real>
		<key>y</key>
		<real>8657.365234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>506.46435546875</real>
		<key>y</key>
		<real>8963.8994140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>511.2822265625</real>
		<key>y</key>
		<real>9386.0625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>499.0806884765625</real>
		<key>y</key>
		<real>9817.251953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>92.451385498046875</real>
		<key>y</key>
		<real>10081.5234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>119.4295654296875</real>
		<key>y</key>
		<real>10536.9306640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>121.7923583984375</real>
		<key>y</key>
		<real>11082.9736328125</real>
	</dict>
</array>
</plist>
