<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>434.362548828125</real>
		<key>y</key>
		<real>1048.7625732421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>432.52587890625</real>
		<key>y</key>
		<real>1626.850341796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>451.2989501953125</real>
		<key>y</key>
		<real>2112.2822265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>168.457275390625</real>
		<key>y</key>
		<real>2453.95361328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>159.5322265625</real>
		<key>y</key>
		<real>2902.070068359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>134.19696044921875</real>
		<key>y</key>
		<real>3317.19970703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>460.5562744140625</real>
		<key>y</key>
		<real>3699.841796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>455.62762451171875</real>
		<key>y</key>
		<real>4076.01318359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>444.04443359375</real>
		<key>y</key>
		<real>4455.42431640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>126.250244140625</real>
		<key>y</key>
		<real>4804.525390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>117.13140869140625</real>
		<key>y</key>
		<real>5283.19189453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>112.1104736328125</real>
		<key>y</key>
		<real>5866.9833984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>453.82781982421875</real>
		<key>y</key>
		<real>6220.201171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>470.66259765625</real>
		<key>y</key>
		<real>6696.85546875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>459.4671630859375</real>
		<key>y</key>
		<real>7137.59765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>132.02798461914062</real>
		<key>y</key>
		<real>7496.39013671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>460.91619873046875</real>
		<key>y</key>
		<real>7888.72265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>141.77447509765625</real>
		<key>y</key>
		<real>8258.5810546875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>471.67791748046875</real>
		<key>y</key>
		<real>8626.021484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>87.827362060546875</real>
		<key>y</key>
		<real>8942.994140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>471.7794189453125</real>
		<key>y</key>
		<real>9250.109375</real>
	</dict>
</array>
</plist>
