<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>509.1170654296875</real>
		<key>y</key>
		<real>1542.9765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>503.2244873046875</real>
		<key>y</key>
		<real>2467.211181640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>508.4268798828125</real>
		<key>y</key>
		<real>3015.146484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>167.097412109375</real>
		<key>y</key>
		<real>3927.08544921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>172.2998046875</real>
		<key>y</key>
		<real>4634.03662109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>167.70965576171875</real>
		<key>y</key>
		<real>5433.68310546875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>503.4039306640625</real>
		<key>y</key>
		<real>6180.99755859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>493.31103515625</real>
		<key>y</key>
		<real>6907.5615234375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>509.7410888671875</real>
		<key>y</key>
		<real>7731.16796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>159.70721435546875</real>
		<key>y</key>
		<real>8300.595703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>509.39404296875</real>
		<key>y</key>
		<real>8992.9072265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>129.42495727539062</real>
		<key>y</key>
		<real>9549.453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>512.1278076171875</real>
		<key>y</key>
		<real>10137.556640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>161.78582763671875</real>
		<key>y</key>
		<real>10603.337890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>516.203125</real>
		<key>y</key>
		<real>11181.7392578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>175.08428955078125</real>
		<key>y</key>
		<real>12207.919921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>152.34429931640625</real>
		<key>y</key>
		<real>12916.4775390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>147.87899780273438</real>
		<key>y</key>
		<real>13551.9912109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>495.70947265625</real>
		<key>y</key>
		<real>14369.9326171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>498.0103759765625</real>
		<key>y</key>
		<real>15477.978515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>511.5311279296875</real>
		<key>y</key>
		<real>16184.59765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>145.73016357421875</real>
		<key>y</key>
		<real>16838.99609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>516.60479736328125</real>
		<key>y</key>
		<real>17562.298828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>159.375732421875</real>
		<key>y</key>
		<real>18246.736328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>502.6004638671875</real>
		<key>y</key>
		<real>19114.7109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>114.69918823242188</real>
		<key>y</key>
		<real>19809.50390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>533.71734619140625</real>
		<key>y</key>
		<real>20333.9921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>159.84759521484375</real>
		<key>y</key>
		<real>21190.994140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>504.02783203125</real>
		<key>y</key>
		<real>21883.31640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>157.03192138671875</real>
		<key>y</key>
		<real>22465.267578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>522.6651611328125</real>
		<key>y</key>
		<real>23193.15625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>152.44183349609375</real>
		<key>y</key>
		<real>23749.28515625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>521.93194580078125</real>
		<key>y</key>
		<real>24456.724609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>140.960693359375</real>
		<key>y</key>
		<real>25136.224609375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>512.5723876953125</real>
		<key>y</key>
		<real>25855.876953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>161.30224609375</real>
		<key>y</key>
		<real>26559.806640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>509.25750732421875</real>
		<key>y</key>
		<real>27085.63671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>160.7913818359375</real>
		<key>y</key>
		<real>27640.755859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>499.3831787109375</real>
		<key>y</key>
		<real>28202.6015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>155.16000366210938</real>
		<key>y</key>
		<real>29175.908203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>498.64996337890625</real>
		<key>y</key>
		<real>29874.818359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>152.64849853515625</real>
		<key>y</key>
		<real>30556.783203125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>507.5377197265625</real>
		<key>y</key>
		<real>31203.779296875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>151.18218994140625</real>
		<key>y</key>
		<real>31917.7265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>491.20513916015625</real>
		<key>y</key>
		<real>32662.171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>160.4169921875</real>
		<key>y</key>
		<real>33256.4765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>508.5516357421875</real>
		<key>y</key>
		<real>33834</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>183.73800659179688</real>
		<key>y</key>
		<real>34403.87109375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>527.22796630859375</real>
		<key>y</key>
		<real>35087.09765625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>176.80410766601562</real>
		<key>y</key>
		<real>35617.0078125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>515.13458251953125</real>
		<key>y</key>
		<real>36219.46484375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>165.87677001953125</real>
		<key>y</key>
		<real>36825.3359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>501.0911865234375</real>
		<key>y</key>
		<real>37397.41015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>141.00360107421875</real>
		<key>y</key>
		<real>37917.5703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>138.61688232421875</real>
		<key>y</key>
		<real>38510.50390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>127.732421875</real>
		<key>y</key>
		<real>39105.37890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>504.62451171875</real>
		<key>y</key>
		<real>40009.98046875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>142.55572509765625</real>
		<key>y</key>
		<real>40625.76171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>133.58609008789062</real>
		<key>y</key>
		<real>41279.0390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>507.36993408203125</real>
		<key>y</key>
		<real>41877.23828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>129.951416015625</real>
		<key>y</key>
		<real>42508.4140625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>114.78106689453125</real>
		<key>y</key>
		<real>43215.6875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>503.6417236328125</real>
		<key>y</key>
		<real>44074.61328125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>148.49127197265625</real>
		<key>y</key>
		<real>44985.453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>166.08734130859375</real>
		<key>y</key>
		<real>45742.1171875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>519.9742431640625</real>
		<key>y</key>
		<real>46362.15625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>516.8543701171875</real>
		<key>y</key>
		<real>46989.73828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>165.311279296875</real>
		<key>y</key>
		<real>47743.85546875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>505.98553466796875</real>
		<key>y</key>
		<real>48651.2265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>512.61138916015625</real>
		<key>y</key>
		<real>49698</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>151.057373046875</real>
		<key>y</key>
		<real>50377.703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>523.359375</real>
		<key>y</key>
		<real>50990.80859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>138.96395874023438</real>
		<key>y</key>
		<real>51437.94921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>528.17169189453125</real>
		<key>y</key>
		<real>52144.22265625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>163.18975830078125</real>
		<key>y</key>
		<real>52686.05859375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>531.94287109375</real>
		<key>y</key>
		<real>53427.58984375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>136.23406982421875</real>
		<key>y</key>
		<real>54276.953125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>530.6793212890625</real>
		<key>y</key>
		<real>55055.7578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>127.87283325195312</real>
		<key>y</key>
		<real>55763.98828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>508.45416259765625</real>
		<key>y</key>
		<real>56664.38671875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>145.55078125</real>
		<key>y</key>
		<real>57310.9375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>133.1531982421875</real>
		<key>y</key>
		<real>57906.32421875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>526.175048828125</real>
		<key>y</key>
		<real>58769.2890625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>137.88372802734375</real>
		<key>y</key>
		<real>59557.06640625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>510.8798828125</real>
		<key>y</key>
		<real>60185.3828125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>159.02862548828125</real>
		<key>y</key>
		<real>60768.16015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>519.28399658203125</real>
		<key>y</key>
		<real>61632.5703125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>150.0980224609375</real>
		<key>y</key>
		<real>62356.91015625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>3</real>
		<key>x</key>
		<real>504.2110595703125</real>
		<key>y</key>
		<real>63190.4453125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>2</real>
		<key>x</key>
		<real>171.0362548828125</real>
		<key>y</key>
		<real>63812.390625</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>503.8211669921875</real>
		<key>y</key>
		<real>64533.21875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>140.53170776367188</real>
		<key>y</key>
		<real>65137.8359375</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>511.7962646484375</real>
		<key>y</key>
		<real>65757.796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>509.507080078125</real>
		<key>y</key>
		<real>66738.96875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>516.82708740234375</real>
		<key>y</key>
		<real>67810.921875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>111.28683471679688</real>
		<key>y</key>
		<real>68374.71875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>525.36773681640625</real>
		<key>y</key>
		<real>69034.578125</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>136.81515502929688</real>
		<key>y</key>
		<real>69590.796875</real>
	</dict>
	<dict>
		<key>id</key>
		<real>1</real>
		<key>x</key>
		<real>504.6673583984375</real>
		<key>y</key>
		<real>70168.84375</real>
	</dict>
</array>
</plist>
