<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>1791.8574218750000000</real>
            <key>x</key>
            <real>499.7049560546875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2763.1953125000000000</real>
            <key>x</key>
            <real>483.7305908203125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3839.2939453125000000</real>
            <key>x</key>
            <real>489.7207641601562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4987.2739257812500000</real>
            <key>x</key>
            <real>130.3108215332031200</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6105.3027343750000000</real>
            <key>x</key>
            <real>156.2684326171875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7321.1728515625000000</real>
            <key>x</key>
            <real>164.2546997070312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8457.1728515625000000</real>
            <key>x</key>
            <real>519.6715087890625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10157.1787109375000000</real>
            <key>x</key>
            <real>519.6715087890625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11837.2177734375000000</real>
            <key>x</key>
            <real>519.6715087890625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13447.3730468750000000</real>
            <key>x</key>
            <real>174.2388916015625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>15151.3730468750000000</real>
            <key>x</key>
            <real>174.2388916015625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>16859.3652343750000000</real>
            <key>x</key>
            <real>172.2418823242187500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>17745.7753906250000000</real>
            <key>x</key>
            <real>497.7079467773437500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>18895.7519531250000000</real>
            <key>x</key>
            <real>509.6882324218750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>20039.7382812500000000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>21165.7558593750000000</real>
            <key>x</key>
            <real>537.6428833007812500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>22443.5214843750000000</real>
            <key>x</key>
            <real>511.6853027343750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>23613.4667968750000000</real>
            <key>x</key>
            <real>142.2911376953125000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>24459.9414062500000000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>25531.1171875000000000</real>
            <key>x</key>
            <real>529.6557006835937500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>26649.1464843750000000</real>
            <key>x</key>
            <real>503.6981201171875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>27677.3222656250000000</real>
            <key>x</key>
            <real>515.6784057617187500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>28817.3164062500000000</real>
            <key>x</key>
            <real>515.6784057617187500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>29941.3359375000000000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>31029.4140625000000000</real>
            <key>x</key>
            <real>521.6685791015625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>32237.2968750000000000</real>
            <key>x</key>
            <real>78.3955688476562500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>33389.2695312500000000</real>
            <key>x</key>
            <real>535.6458740234375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>34481.3437500000000000</real>
            <key>x</key>
            <real>98.3639831542968750</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>35591.3828125000000000</real>
            <key>x</key>
            <real>567.5936889648437500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>36771.3125000000000000</real>
            <key>x</key>
            <real>112.3403625488281200</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>37883.3515625000000000</real>
            <key>x</key>
            <real>114.3374023437500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>39019.3515625000000000</real>
            <key>x</key>
            <real>114.3374023437500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>40161.3437500000000000</real>
            <key>x</key>
            <real>543.6330566406250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>41253.4140625000000000</real>
            <key>x</key>
            <real>535.6458740234375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>42389.4140625000000000</real>
            <key>x</key>
            <real>535.6458740234375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>43595.3007812500000000</real>
            <key>x</key>
            <real>102.3561706542968700</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>44573.5585937500000000</real>
            <key>x</key>
            <real>94.3699340820312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>45787.4335937500000000</real>
            <key>x</key>
            <real>543.6330566406250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>46923.4335937500000000</real>
            <key>x</key>
            <real>543.6330566406250000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>48069.4140625000000000</real>
            <key>x</key>
            <real>118.3305053710937500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>49205.4140625000000000</real>
            <key>x</key>
            <real>118.3305053710937500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>50341.4140625000000000</real>
            <key>x</key>
            <real>523.6655883789062500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>51433.4843750000000000</real>
            <key>x</key>
            <real>94.3699340820312500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>52575.4765625000000000</real>
            <key>x</key>
            <real>527.6586914062500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>53747.4179687500000000</real>
            <key>x</key>
            <real>116.3334960937500000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>54871.4375000000000000</real>
            <key>x</key>
            <real>465.7601318359375000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>56043.3789062500000000</real>
            <key>x</key>
            <real>136.3009643554687500</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>57171.3906250000000000</real>
            <key>x</key>
            <real>503.6981201171875000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>58329.3554687500000000</real>
            <key>x</key>
            <real>150.2783203125000000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>59471.3437500000000000</real>
            <key>x</key>
            <real>509.6882324218750000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>60613.3359375000000000</real>
            <key>x</key>
            <real>174.2388916015625000</real>
            <key>id</key>
            <real>2.0000000000000000</real>
        </dict>
    </array>
</plist>
