<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <array>
        <dict>
            <key>y</key>
            <real>2091.3647460937500000</real>
            <key>x</key>
            <real>481.7344970703125000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>2677.3361816406250000</real>
            <key>x</key>
            <real>473.7473144531250000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>3477.8857421875000000</real>
            <key>x</key>
            <real>467.7572021484375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>7207.3588867187500000</real>
            <key>x</key>
            <real>499.7049560546875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>8083.7841796875000000</real>
            <key>x</key>
            <real>471.7503051757812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9006.1357421875000000</real>
            <key>x</key>
            <real>469.7542724609375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>6337.8544921875000000</real>
            <key>x</key>
            <real>142.2911376953125000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>4683.7724609375000000</real>
            <key>x</key>
            <real>176.2349853515625000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>5501.3618164062500000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>9755.8378906250000000</real>
            <key>x</key>
            <real>170.2448425292968700</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>10535.4912109375000000</real>
            <key>x</key>
            <real>168.2487487792968700</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>11411.9160156250000000</real>
            <key>x</key>
            <real>166.2517089843750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>12960.1708984375000000</real>
            <key>x</key>
            <real>481.7344970703125000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>13781.7558593750000000</real>
            <key>x</key>
            <real>172.2418823242187500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>14405.6630859375000000</real>
            <key>x</key>
            <real>507.6912231445312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>15443.8242187500000000</real>
            <key>x</key>
            <real>499.7049560546875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>16335.2929687500000000</real>
            <key>x</key>
            <real>148.2812805175781200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>17421.3750000000000000</real>
            <key>x</key>
            <real>471.7503051757812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>18547.3925781250000000</real>
            <key>x</key>
            <real>461.7670898437500000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>19601.5253906250000000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>20737.5253906250000000</real>
            <key>x</key>
            <real>453.7799072265625000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>21711.7929687500000000</real>
            <key>x</key>
            <real>471.7503051757812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>22677.1386718750000000</real>
            <key>x</key>
            <real>467.7572021484375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>23743.2539062500000000</real>
            <key>x</key>
            <real>467.7572021484375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>24817.3554687500000000</real>
            <key>x</key>
            <real>140.2940979003906200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>25961.3417968750000000</real>
            <key>x</key>
            <real>140.2940979003906200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>27101.3359375000000000</real>
            <key>x</key>
            <real>140.2940979003906200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>28035.6660156250000000</real>
            <key>x</key>
            <real>487.7246704101562500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>28633.6171875000000000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>29255.5292968750000000</real>
            <key>x</key>
            <real>501.7010498046875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>29885.4296875000000000</real>
            <key>x</key>
            <real>138.2980041503906200</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>30643.1171875000000000</real>
            <key>x</key>
            <real>505.6951293945312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>31211.1171875000000000</real>
            <key>x</key>
            <real>124.3206787109375000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>31781.1132812500000000</real>
            <key>x</key>
            <real>513.6813964843750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>32351.1093750000000000</real>
            <key>x</key>
            <real>156.2684326171875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>32891.1562500000000000</real>
            <key>x</key>
            <real>513.6813964843750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>33451.1679687500000000</real>
            <key>x</key>
            <real>146.2842407226562500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>34029.1523437500000000</real>
            <key>x</key>
            <real>541.6360473632812500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>34609.1328125000000000</real>
            <key>x</key>
            <real>158.2645263671875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>35676.1796875000000000</real>
            <key>x</key>
            <real>491.7177734375000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>36646.4492187500000000</real>
            <key>x</key>
            <real>489.7207641601562500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>37343.3085937500000000</real>
            <key>x</key>
            <real>150.2783203125000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>37947.2500000000000000</real>
            <key>x</key>
            <real>106.3502197265625000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>38913.5234375000000000</real>
            <key>x</key>
            <real>493.7148437500000000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>39647.2539062500000000</real>
            <key>x</key>
            <real>497.7079467773437500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>40609.5390625000000000</real>
            <key>x</key>
            <real>164.2546997070312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>41289.3554687500000000</real>
            <key>x</key>
            <real>160.2615661621093700</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>41869.3359375000000000</real>
            <key>x</key>
            <real>509.6882324218750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>42490.1796875000000000</real>
            <key>x</key>
            <real>156.2684326171875000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>43183.9765625000000000</real>
            <key>x</key>
            <real>507.6912231445312500</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
        <dict>
            <key>y</key>
            <real>44139.3398437500000000</real>
            <key>x</key>
            <real>509.6882324218750000</real>
            <key>id</key>
            <real>1.0000000000000000</real>
        </dict>
    </array>
</plist>
